<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/assets/images/logo.png"/>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Value Matrix | About</title>
  </head>
  <body>
    <div class="landing">
      <div class="container d-flex justify-content-center">
        <div>
          <h1 class="text-white text-center" style="font-size: 400%;text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"><strong>About Value Matrix</strong></h1>
          <div style="" class="d-flex justify-content-center"><div style="background-color:#fff;width:20%;height:6px;border-radius: 10px;"></div></div>
          <p class="text-center text-white mt-5" style="text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">The world has evolved. So have the corporates. They have stopped hiring “resources”. They hire people now – real people, with real skills and real limitations.</p>
          <p class="text-center text-white" style="text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Technology has evolved too. We have AI now! Like any new technology mankind did try to replace human with AI, not with an intention of replacing humans perhaps, but with a clear intention of removing biases from business. However, the results were not satisfying enough.</p>
        </div>
      </div>
    </div>
    <div class="bg-light py-5">
      <div class="container my-5 py-5">
        <div class="row" style="flex-direction:row-reverse;">
          <div class="col-md-4">
            <img src="/public/assets/images/logo.png" alt="Value Matrix" width="100%"/>
          </div>
          <div class="col-md-8 d-flex" style="align-items: center;">
            <div>
              <h1 style="font-weight: bold;">What was needed was a fine balance between the two.</h1>
              <p class="text-grey">
                We know that some of the defining factors in success of an organization lie in its diversity, in its team morale, in its employee experience (beginning right at the interview stage) and the predictable success of the people that come together in an organization.
              </p>
              <p class="text-grey">
                <strong>We also know that</strong>
                <ul>
                  <li>Diverse teams are 87% better decision makers than uniformed ones</li>
                  <li>95% of job seekers expect a hear-back within 2 weeks of applying for a job</li>
                  <li>60% of amazing talent is likelier to give up mid-way when riddled with too many rounds</li>
                  <li>Talent acquisition is an “attraction game”, not a selection or rejection game </li>
                </ul>
              </p>
              <div>
                <a class="btn btn-primary button_slide" href="/#waitlist">Join the Waitlist</a>
              </div>
            </div>
          </div>
        </div>
        <p class="text-grey text-center mt-5">
          That is why with a collective experience of 50 years of our team, we have curated for your success a hiring process that knows the perfect proportion of an AI and human interference. Research has already proven that 100% AI doesn’t fare well with top talent.
        </p>
      </div>
            
      <div class="d-flex justify-content-center my-4">
        <div class="gradient-line"></div>
      </div>

      <div class="container my-5 py-5">
        <div class="row">
          <div class="col-md-8">
            <p class="text-grey">
              <h1 style="font-weight: bold;">At Value Matrix</h1>
              We respect your business and also understand the value of your golden bandwidth and are here to help you make the right tech hiring while you focus on the growth of your business/ organization.
            </p>
            <p class="text-grey">
              We pride ourselves in having cracked the code of not just seamless interview and evaluation process but also the CanX™ candidate experience. Our certified XIs- Xpert Interviewers are seasoned professionals from the industry. These experts are hand-picked to maintain CanX™ while ensuring the core principles of Value Matrix and the Companies on whose behalf the interviews are conducted.
            </p>
            <p class="text-grey">
              <strong>Our matrix is crafted</strong>
              <ul>
                <li>To expedite the hiring process by at least a 70% faster pace</li>
                <li>To use the IaaS optimally</li>
                <li>To keep intact the human element required while hiring top talent</li>
                <li>To have structured and standardized interviews with no scope for biases</li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <img src="https://img.freepik.com/free-photo/fun-3d-cartoon-illustration-indian-businessman_183364-114475.jpg?w=740&t=st=1664366752~exp=1664367352~hmac=64ba9fb9c4aa97e5ee3aeefbcd60e978a399cb0e46f2e336c00d93de7474168c" width="60%" alt="..."/>
          </div>
        </div>
      </div>
    </div>
    <div class="footer container pt-4">
      <p class="text-muted text-center">Copyright &copy; 2022 | Value Matrix | All rights reserved</p>
    </div>
  </body>
</html>