<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/public/assets/images/logo.png" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/public/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/public/assets/css/slick.css" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="/public/assets/css/tailwind-built.css" />
  <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Value Matrix</title>
</head>

<body>
  <!--Header-->
  <header class="sticky-bar mt-4">
    <div class="container bg-transparent">
      <nav class="bg-transparent flex justify-between items-center py-3">
        <a class="text-3xl font-semibold leading-none" href="/">
          <img class="h-10" src="/public/assets/images/logo.png" alt="" />
        </a>
        <ul class="flex items-center w-auto gap-5">
          <li class="pt-4 pb-4">
            <a href="#Home" class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500">Home</a>
          </li>
          <li class="pt-4 pb-4">
            <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="About">About Us</a>
          </li>
          <li class="pt-4 pb-4">
            <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="Team">Team</a>
          </li>
        </ul>
        <div class="hidden lg:block">
          <a class="btn-accent hover-up-2" href="#name">Register</a>
        </div>
      </nav>
    </div>
  </header>



  <section class="xl:bg-contain bg-top bg-no-repeat -mt-24 pt-24" id="Home"
    style="background-image: url('/public/assets/imgs/backgrounds/intersect.svg'); height: 84vh;">
    <div class="px-4 mx-auto">
      <div class="pt-12 text-center">
        <div class="max-w-2xl mx-auto mb-8">
          <h2
            class="text-3xl lg:text-5xl lg:leading-normal mb-4 font-bold font-heading wow animate__animated animate__fadeIn">
            Get Your Hiring Lists Tight <br />Launching<span class="text-blue-500"> Soon!</span></h2>
          <p class="text-blueGray-400 leading-relaxed wow animate__animated animate__fadeIn"><strong
              class="text-blue-500 font-bold text-lg ">Join </strong></p><span
            class="typewrite text-black d-inline text-brand" data-period="3000"
            data-type='["The Waitlist ", "Launching Soon!" ]'></span>
        </div>
        <% if(name !='' ) { %>
          <h6 class="text-center" style="color: green; font-family: Arial, Helvetica, sans-serif;">You have
            successfully joined the waitlist. Thank you, <%= name %>
          </h6>
          <% } %>
            <form action="" method="POST" id="waitlist" class="w-100 mt-12">
              <div class="w-50 mx-auto">
                <div class="relative w-full lg:w-1/2 lg:my-12 mx-auto md:my-6 my-4">
                  <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                    <div class="lg:mb-4" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                      <input
                        class="w-full form-control border-0 p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none"
                        type="text" placeholder="Enter Name Here" id="name" name="name" required>
                    </div>
                  </div>
                </div>
                <div class="relative w-full lg:w-1/2 lg:my-12 mx-auto lg:my-0">
                  <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
                    <div class="lg:mb-4" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                      <input
                        class="w-full form-control border-0 p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none"
                        type="email" name="email" id="email" placeholder="Enter Email Here" required>
                    </div>
                  </div>
                </div>
                <div class="w-40 mx-auto wow animate__animated animate__fadeInRight my-5" data-wow-delay=".5s">
                  <button type="submit" class="btn-primary hover-up-2">Join</button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </section>


  <section class="pt-12 md:py-16 lg:pt-32 overflow-x-hidden" id="About">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-1/2">
          <div class="lg:py-6 lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
            <div class="mb-4">
              <span
                class="text-xs py-1 px-3 text-blue-500 font-semibold bg-blue-50 rounded-xl wow animate__animated animate__fadeInDown"
                data-wow-delay=".9s">Know</span>
              <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                data-wow-delay=".3s">About Us</h2>
            </div>
            <div class="flex items-start py-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div>
                <h4 class="mb-2 text-lg font-semibold font-heading">
                  <p class="text-blueGray-400 leading-loose">At Value Matrix we respect your business and also
                    understand the value of your golden bandwidth and are here to help you make the right tech hiring
                    while you focus on the growth of your business/ organization. <span><a href="#">
                </h4>

                <a class="btn-accent text-black hover-up-2" href="about">Know More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="relative w-full lg:w-1/2 my-12 lg:my-0">
          <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
            <img class="jump relative mx-auto rounded-xl w-full z-10" src="/public/assets/images/logo.png" alt="" />


          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container my-5 py-24" id="Team">
    <h1 class="text-center text-3xl my-6" style="font-weight: bold; width: fit-content;">Know Our Team</h1>

    <div class="cardbody Team" >
      <div class="flex">
        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="checkbox" class="heart-btnn" id="heart-btnn-1">
            <label class="heart" for="heart-btnn-1"></label>
          </div>
          <div class="content">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D03AQHL7nhn5Akz-w/profile-displayphoto-shrink_200_200/0/1657115989192?e=1669852800&v=beta&t=HGVXvXccSF6-vFbo25a7b-RHdOTcZ__EmrrMKU4W6DE"
              alt="Aditya Malik">
            <strong>Aditya Malik</strong>
            <p class="text-center">Board Member- KoinX<br />
              Ex-SVP-MNM<br />
              Head of Sales and Account<br />
              Management- India & SAARC - Freshworks
            </p>
          </div>
          <div class="btnn">
            <a href="https://www.linkedin.com/in/malikaditya/"><i class="fa fa-clipboard"
                aria-hidden="true"></i>Follow</a>
            <a href="/team#aditya"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <div>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <div>
              <input type="checkbox" class="heart-btnn" id="heart-btnn-2">
              <label class="heart" for="heart-btnn-2"></label>
            </div>
          </div>
          <div class="content">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5603AQEg6qQhFFiOCw/profile-displayphoto-shrink_200_200/0/1517694856478?e=1669852800&v=beta&t=wFnfqOBfrag10Pf2Vmck8sbZSz4FaiwOGckcMlZ4mUc"
              alt="">
            <strong>Raj Parameswaran</strong>
            <p class="text-center">Chief Revenue Officer-Newage SaaS<br />
              Strategic Business Unit Head - CSS Corp<br />
              Chief Client Officer - Polaris FinTech<br />
              Vice President - Capgemini Consulting
            </p>
          </div>
          <div class="btnn">
            <a href="https://www.linkedin.com/in/rajparameswaran"><i class="fa fa-clipboard"
                aria-hidden="true"></i>Follow</a>
            <a href="/team#raj"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="checkbox" class="heart-btnn" id="heart-btnn-3">
            <label class="heart" for="heart-btnn-3"></label>
          </div>
          <div class="content">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5103AQHuN0BwiPjaPQ/profile-displayphoto-shrink_200_200/0/1534166222160?e=1669852800&v=beta&t=GTCWZ_rmwupwn5zNY6tzQFjsM9QxmNez4oaQ5bZJ0vI"
              alt="">
            <strong>Jayashankar Attupurathu</strong>
            <p class="text-center">Head Product Engg - UST Global<br />
              Vice President - Citibank<br /><br /><br />
            </p>
          </div>
          <div class="btnn">
            <a href="https://www.linkedin.com/in/jattupurathu"><i class="fa fa-clipboard"
                aria-hidden="true"></i>Follow</a>
            <a href="/team#jayashankar"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex my-12 justify-content-center">
      <a class="btn-accent text-black hover-up-2" href="Team">Know More</a>
    </div>
  </div>



  <section class="py-20">
    <div class="px-4 container mx-auto wow animate__animated animate__fadeIn" data-wow-delay=".3s">
      <div class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left">
        <div class="w-full lg:w-1/5 px-3 mb-6 lg:mb-0">
          <a class="inline-block mx-auto lg:mx-0 text-3xl font-semibold leading-none" href="index.html">
            <img class="h-10" src="/public/assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0">
          <p class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blueGray-400 leading-relaxed">We
            pride ourselves in having cracked the code of not just seamless interview and evaluation process but also
            the CanX™ candidate experience.</p>
        </div>
        <div class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0">
          <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">Office</p>
          <p class="lg:text-lg text-blueGray-400">16192 Coastal Highway, Lewes, Delaware 19958, County of Sussex, USA</p>
        </div>
        <div class="w-full lg:w-1/5 px-3">
          <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">Contacts</p>
          <p class="lg:text-lg text-blueGray-400 d-none">(+01) 234 568</p>
          <p class="lg:text-lg text-blueGray-400">support@valuematrix.ai</p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-center lg:justify-between">
        <p class="text-sm text-blueGray-400">Copyright &copy; 2022 <a class="text-blue-400" href="#"
            target="_blank"> Value Matrix </a></p>
        <div class="order-first lg:order-last -mx-2 mb-4 lg:mb-0">
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/facebook-blue.svg" alt="" />
          </a>
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/twitter-blue.svg" alt="" />
          </a>
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/instagram-blue.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>



  <script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/public/assets/js/vendor/waypoints.js"></script>
  <script src="/public/assets/js/vendor/counterup.js"></script>
  <script src="/public/assets/js/vendor/slick.js"></script>
  <script src="/public/assets/js/vendor/wow.js"></script>
  <script src="/public/assets/js/vendor/scrollup.js"></script>
  <script src="/public/assets/js/vendor/smooth.js"></script>
  <script src="/public/assets/js/vendor/textType.js"></script>
  <script src="/public/assets/js/vendor/mobile-menu.js"></script>
  <script src="/public/assets/js/main.js?v=2.0"></script>
</body>

</html>