<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/public/assets/images/logo.png" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/public/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/public/assets/css/slick.css" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="/public/assets/css/tailwind-built.css" />
  <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Value Matrix | Founding Team</title>
</head>

<body>

  <header class="sticky-bar mt-4">
    <div class="container bg-transparent">
      <nav class="bg-transparent flex justify-between items-center py-3">
        <a class="text-3xl font-semibold leading-none" href="/">
          <img class="h-10" src="/public/assets/images/logo.png" alt="" />
        </a>
        <ul class="flex items-center w-auto gap-5">
          <li class="pt-4 pb-4">
            <a href="/" class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500">Home</a>
          </li>
          <li class="pt-4 pb-4">
            <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="About">About Us</a>
          </li>
          <li class="pt-4 pb-4">
            <a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="Team">Team</a>
          </li>
        </ul>
        <div class="hidden lg:block">
          <a class="btn-accent hover-up-2" href="/">Register</a>
        </div>
      </nav>
    </div>
  </header>


  <section class="xl:bg-contain bg-top bg-no-repeat -mt-24 pt-24" id="Home"
    style="background-image: url('/public/assets/imgs/backgrounds/intersect.svg'); height: 84vh;">
    <div class="px-4 mx-auto">
      <div class="pt-12 text-center">
        <div class="relative w-full lg:w-1/2 my-12 mx-auto lg:my-0">
          <div class="wow animate__animated animate__fadeInRight" data-wow-delay=".5s">
            <img class="jump relative mx-auto rounded-xl w-full z-10" src="/public/assets/images/logo.png" alt="" />
            <img class="absolute top-0 left-0 w-40 -ml-12 -mt-12" src="/public/assets/imgs/elements/blob-tear.svg"
              alt="" />
            <img class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12" src="/public/assets/imgs/elements/blob-tear.svg"
              alt="" />
          </div>
        </div>
      </div>
  </section>






  <section class="py-20 lg:h-100 md:pt-16 lg:pt-32 overflow-x-hidden" id="key-features">
    <div class="container px-4 mx-auto">
      <div class="flex align-top flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-1/2">
          <div class="lg:py-6  lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
            <div class="">
              <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                data-wow-delay=".3s">Aditya Malik</h2>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div>
                <p class="text-left text-xs">Board Member- KoinX<br />
                  Ex-SVP-MNM<br />
                  Head of Sales and Account<br />
                  Management- India & SAARC - Freshworks
                </p>
              </div>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div class="mt-5">
                <p class="text-left text-xs">​With almost two decades of experience, in SaaS Product Development, and
                  Service Industry, I’ve had an opportunity to meticulously understand the intricacies of the industry
                  as a whole.

                  I started my career from a solo bootstrapped software venture, and grew it into a full-fledged firm of
                  over 100+ people, before I was got an exit after running this for almost 12 years. Besides, I’ve
                  worked in distant geographies (in ASEAN and even the land down under in Australia), this exposure to
                  global scenarios gave me a cross cultural understanding. My last three companies range from early
                  startups grown into tech giants such as Freshworks and Marketsandmarkets, to conventional structured
                  corporations such as Informatica.

                  Two out of three recently got listed on the NAS nal Stock Exchange. I, would say that the software
                  world has been kind to me, giving me the chance t DAQ & Natioo grow companies and geographic teams
                  from 0 to 25 M ARR.​
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative w-full my lg:w-1/2 my-lg-5 aditya">
          <div class="wow h-25 mt-12 animate__animated animate__fadeInRight" data-wow-delay=".5s">
            <img class="jump relative mx-auto rounded-xl w-50 z-10" src="/public/assets/images/3.png" alt="" />
            <img class="absolute top-0 left-0 w-25" src="/public/assets/imgs/elements/blob-tear.svg" alt="" />
            <img class="absolute bottom-0 right-0 w-25 -mr-12" src="/public/assets/imgs/elements/blob-tear.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-20 lg:h-100 md:pt-16 lg:pt-32 overflow-x-hidden" id="key-features">
    <div class="container px-4 mx-auto">
      <div class="flex align-top flex-wrap lg:flex-nowrap">
        <div class="relative w-full lg:w-1/2 my-lg-5">
          <div class="wow h-25 mt-12 animate__animated animate__fadeInLeft" data-wow-delay=".5s">
            <img class="jump relative mx-auto rounded-xl w-50 z-10" src="/public/assets/images/1.png" alt="" />
            <img class="absolute top-0 left-0 w-25" src="/public/assets/imgs/elements/blob-tear.svg" alt="" />
            <img class="absolute bottom-0 right-0 w-25 -mr-12" src="/public/assets/imgs/elements/blob-tear.svg"
              alt="" />
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="lg:py-6  lg:pl-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
            <div class="">
              <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                data-wow-delay=".3s">Raj Parameswaran</h2>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div>
                <p class="text-left text-xs">Chief Revenue Officer-Newage SaaS<br />
                  Strategic Business Unit Head - CSS Corp<br />
                  Chief Client Officer - Polaris FinTech<br />
                  Vice President - Capgemini Consulting
                </p>
              </div>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div class="mt-5">
                <p class="text-left text-xs">​Hi! I am Raj. A US national with undergrad and masters from ﷟HYPERLINK
                  and an MBA from Purdue, I am also a PHD scholar who has spent most of his life working in the US and
                  some parts of Europe and APAC selling to the mid market to enterprise segments at various companies
                  from Capgemini, Polaris, CSS to Newage where I was the Global Chief Revenue Officer, I come with more
                  than a decade of experience up my sleeve as an accomplished Global Technology and Business leader with
                  a self-driven entrepreneurial experience in Banking, Financial Services, Insurance, Healthcare,
                  Retail, Manufacturing, Logistics, Supply Chain and Automotive sectors. I have managed P&L from 0 to
                  $600 Million with people count of right upto 4000.

                  I have also specialized in customer and profit centric business transformation outsourcing.

                  I bring along with me more than twenty-five years of global experience with unique combination of
                  business development, global delivery, product development, practice development, operations and P&L
                  management. My expertise lies in leading organizations from vision through execution via a
                  relationship driven approach with business leaders and employees to harness global talent, consulting
                  and new technology services.

                  Through ValueMatrix I am looking forward to working with you and supporting you in harnessing the
                  right talent and growing manifolds. [Text Wrapping Break][Text Wrapping Break]


                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="py-20 lg:h-100 md:pt-16 lg:pt-32 overflow-x-hidden" id="key-features">
    <div class="container px-4 mx-auto">
      <div class="flex align-top flex-wrap lg:flex-nowrap">
        <div class="w-full lg:w-1/2">
          <div class="lg:py-6  lg:pr-32 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
            <div class="">
              <h2 class="text-4xl mt-5 font-bold font-heading wow animate__animated animate__fadeInUp"
                data-wow-delay=".3s">Jayashankar Attupurathu</h2>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div>
                <p class="text-left text-xs">Head Product Engg - UST Global<br />
                  Vice President - Citibank
                </p>
              </div>
            </div>
            <div class="flex items-start wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
              <div class="mt-5">
                <p class="text-left text-xs">​Along with air, I breathe and live technology! I have with me over 18
                  years of experience in leading the technical direction, delivery and execution of a technology roadmap
                  – geared towards the end goal (some call it the North Star Matrix. I call it the core ValueMatrix).

                  I have evangelized technical innovations that boost customer experience and add maximum value to the
                  company which eventually facilitates success of a business.

                  [Text Wrapping Break][Text Wrapping Break]That beyond, I have lead engineering projects' lifecycle
                  right from scoping to delivery within time, quality & budget parameters; presenting changes, issues,
                  risks, and contingency plans to balance project resources, schedules, and scope.

                  I have also co-founded a startup where I was involved in the discovery, ideation, and MVP development
                  of a technology enabled Agritech product.

                  Through ValueM matrix it will be my responsibility to ensure that you have a perfect balance of
                  technology and human intervention served to its users on the platform to get you the right talent. ​​
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative w-full lg:w-1/2 my-lg-5">
          <div class="wow h-25 mt-12 animate__animated animate__fadeInRight" data-wow-delay=".5s">
            <img class="jump relative mx-auto rounded-xl w-50 z-10" src="/public/assets/images/2.png" alt="" />
            <img class="absolute top-0 left-0 w-25" src="/public/assets/imgs/elements/blob-tear.svg" alt="" />
            <img class="absolute bottom-0 right-0 w-25 -mr-12" src="/public/assets/imgs/elements/blob-tear.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>








  <!-- 
  <div class="landing">
    <div class="container d-flex justify-content-center">
      <div>
        <h1 class="text-white text-center" style="font-size: 400%;text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <strong>Founding TEAM comes with 50+ years of experience</strong>
        </h1>
        <div style="" class="d-flex justify-content-center">
          <div style="background-color:#fff;width:20%;height:6px;border-radius: 10px;"></div>
        </div>
        <div class="mt-5">
          <div class="cardbody">
            <div class="containerr">
              <div class="box">
                <div class="top-bar"></div>
                <div class="top">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  <input type="checkbox" class="heart-btnn" id="heart-btnn-1">
                  <label class="heart" for="heart-btnn-1"></label>
                </div>
                <div class="content">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQHL7nhn5Akz-w/profile-displayphoto-shrink_200_200/0/1657115989192?e=1669852800&v=beta&t=HGVXvXccSF6-vFbo25a7b-RHdOTcZ__EmrrMKU4W6DE"
                    alt="Aditya Malik">
                  <strong>Aditya Malik</strong>
                  <p class="text-center">Board Member- KoinX<br />
                    Ex-SVP-MNM<br />
                    Head of Sales and Account<br />
                    Management- India & SAARC - Freshworks
                  </p>
                </div>
                <div class="btnn">
                  <a href="https://www.linkedin.com/in/malikaditya/"><i class="fa fa-clipboard"
                      aria-hidden="true"></i>Follow</a>
                  <a href="/team#aditya"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                </div>
              </div>
              <div class="box">
                <div class="top-bar"></div>
                <div class="top">
                  <div>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </div>
                  <div>
                    <input type="checkbox" class="heart-btnn" id="heart-btnn-2">
                    <label class="heart" for="heart-btnn-2"></label>
                  </div>
                </div>
                <div class="content">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C5603AQEg6qQhFFiOCw/profile-displayphoto-shrink_200_200/0/1517694856478?e=1669852800&v=beta&t=wFnfqOBfrag10Pf2Vmck8sbZSz4FaiwOGckcMlZ4mUc"
                    alt="">
                  <strong>Raj Parameswaran</strong>
                  <p class="text-center">Chief Revenue Officer-Newage SaaS<br />
                    Strategic Business Unit Head - CSS Corp<br />
                    Chief Client Officer - Polaris FinTech<br />
                    Vice President - Capgemini Consulting
                  </p>
                </div>
                <div class="btnn">
                  <a href="https://www.linkedin.com/in/rajparameswaran"><i class="fa fa-clipboard"
                      aria-hidden="true"></i>Follow</a>
                  <a href="/team#raj"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                </div>
              </div>
              <div class="box">
                <div class="top-bar"></div>
                <div class="top">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  <input type="checkbox" class="heart-btnn" id="heart-btnn-3">
                  <label class="heart" for="heart-btnn-3"></label>
                </div>
                <div class="content">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C5103AQHuN0BwiPjaPQ/profile-displayphoto-shrink_200_200/0/1534166222160?e=1669852800&v=beta&t=GTCWZ_rmwupwn5zNY6tzQFjsM9QxmNez4oaQ5bZJ0vI"
                    alt="">
                  <strong>Jayashankar Attupurathu</strong>
                  <p class="text-center">Head Product Engg - UST Global<br />
                    Vice President - Citibank<br /><br /><br />
                  </p>
                </div>
                <div class="btnn">
                  <a href="https://www.linkedin.com/in/jattupurathu"><i class="fa fa-clipboard"
                      aria-hidden="true"></i>Follow</a>
                  <a href="/team#jayashankar"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer container pt-4">
    <p class="text-muted text-center">Copyright &copy; 2022 | Value Matrix | All rights reserved</p>
  </div> -->


  <section class="py-20">
    <div class="px-4 container mx-auto wow animate__animated animate__fadeIn" data-wow-delay=".3s">
      <div class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left">
        <div class="w-full lg:w-1/5 px-3 mb-6 lg:mb-0">
          <a class="inline-block mx-auto lg:mx-0 text-3xl font-semibold leading-none" href="index.html">
            <img class="h-10" src="/public/assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0">
          <p class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blueGray-400 leading-relaxed">We
            pride ourselves in having cracked the code of not just seamless interview and evaluation process but also
            the CanX™ candidate experience.</p>
        </div>
        <div class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0">
          <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">Office</p>
          <p class="lg:text-lg text-blueGray-400">359 Hidden Valley Road, NY</p>
        </div>
        <div class="w-full lg:w-1/5 px-3">
          <p class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800">Contacts</p>
          <p class="lg:text-lg text-blueGray-400">(+01) 234 568</p>
          <p class="lg:text-lg text-blueGray-400">contact@monst.com</p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-center lg:justify-between">
        <p class="text-sm text-blueGray-400">&copy; Copyright &copy; 2022 <a class="text-blue-400" href="#"
            target="_blank"> Value Matrix </a></p>
        <div class="order-first lg:order-last -mx-2 mb-4 lg:mb-0">
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/facebook-blue.svg" alt="" />
          </a>
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/twitter-blue.svg" alt="" />
          </a>
          <a class="inline-block px-2" href="#">
            <img src="/public/assets/imgs/icons/instagram-blue.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>

</body>




<script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/public/assets/js/vendor/waypoints.js"></script>
<script src="/public/assets/js/vendor/counterup.js"></script>
<script src="/public/assets/js/vendor/slick.js"></script>
<script src="/public/assets/js/vendor/wow.js"></script>
<script src="/public/assets/js/vendor/scrollup.js"></script>
<script src="/public/assets/js/vendor/smooth.js"></script>
<script src="/public/assets/js/vendor/textType.js"></script>
<script src="/public/assets/js/vendor/mobile-menu.js"></script>
<script src="/public/assets/js/main.js?v=2.0"></script>

</html>