<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/assets/images/logo.png"/>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Value Matrix | Founding Team</title>
  </head>
  <body>
    <div class="landing">
      <div class="container d-flex justify-content-center">
        <div>
          <h1 class="text-white text-center" style="font-size: 400%;text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"><strong>Founding TEAM comes with 50+ years of experience</strong></h1>
          <div style="" class="d-flex justify-content-center"><div style="background-color:#fff;width:20%;height:6px;border-radius: 10px;"></div></div>
          <div class="mt-5">
            <div class="cardbody">
              <div class="containerr">
                <div class="box">
                  <div class="top-bar"></div>
                  <div class="top">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <input type="checkbox" class="heart-btnn" id="heart-btnn-1">
                    <label class="heart" for="heart-btnn-1"></label>
                  </div>
                  <div class="content">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHL7nhn5Akz-w/profile-displayphoto-shrink_200_200/0/1657115989192?e=1669852800&v=beta&t=HGVXvXccSF6-vFbo25a7b-RHdOTcZ__EmrrMKU4W6DE" alt="Aditya Malik">
                    <strong>Aditya Malik</strong>
                    <p class="text-center">Board Member- KoinX<br/>
                      Ex-SVP-MNM<br/>
                      Head of Sales and Account<br/>
                      Management- India & SAARC - Freshworks
                      </p>
                  </div>
                  <div class="btnn">
                    <a href="https://www.linkedin.com/in/malikaditya/"><i class="fa fa-clipboard" aria-hidden="true"></i>Follow</a>
                    <a href="/team#aditya"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                  </div>
                </div>
                <div class="box">
                  <div class="top-bar"></div>
                  <div class="top">
                    <div>
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <div>
                      <input type="checkbox" class="heart-btnn" id="heart-btnn-2">
                      <label class="heart" for="heart-btnn-2"></label>
                    </div>
                  </div>
                  <div class="content">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEg6qQhFFiOCw/profile-displayphoto-shrink_200_200/0/1517694856478?e=1669852800&v=beta&t=wFnfqOBfrag10Pf2Vmck8sbZSz4FaiwOGckcMlZ4mUc" alt="">
                    <strong>Raj Parameswaran</strong>
                    <p class="text-center">Chief Revenue Officer-Newage SaaS<br/>
                      Strategic Business Unit Head - CSS Corp<br/>
                      Chief Client Officer - Polaris FinTech<br/>
                      Vice President - Capgemini Consulting
                      </p>
                  </div>
                  <div class="btnn">
                    <a href="https://www.linkedin.com/in/rajparameswaran"><i class="fa fa-clipboard" aria-hidden="true"></i>Follow</a>
                    <a href="/team#raj"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                  </div>
                </div>
                <div class="box">
                  <div class="top-bar"></div>
                  <div class="top">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <input type="checkbox" class="heart-btnn" id="heart-btnn-3">
                    <label class="heart" for="heart-btnn-3"></label>
                  </div>
                  <div class="content">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQHuN0BwiPjaPQ/profile-displayphoto-shrink_200_200/0/1534166222160?e=1669852800&v=beta&t=GTCWZ_rmwupwn5zNY6tzQFjsM9QxmNez4oaQ5bZJ0vI" alt="">
                    <strong>Jayashankar Attupurathu</strong>
                    <p class="text-center">Head Product Engg -  UST Global<br/>
                      Vice President - Citibank<br/><br/><br/>
                    </p>
                  </div>
                  <div class="btnn">
                    <a href="https://www.linkedin.com/in/jattupurathu"><i class="fa fa-clipboard" aria-hidden="true"></i>Follow</a>
                    <a href="/team#jayashankar"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer container pt-4">
      <p class="text-muted text-center">Copyright &copy; 2022 | Value Matrix | All rights reserved</p>
    </div>
  </body>
</html>